/* Poppins from GOOGLE FONTS  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: #bc1b2f;
  --color-body: #f5f5f5;
  --color-blackish: #212529;
}

body {
  max-width: 100% !important;
  overflow-x: hidden !important;
  font-family: "Poppins", serif;
  background-color: #f5f5f5;
}

.max-width {
  @apply max-w-[1280px] mx-auto px-4;
}

.active {
  @apply text-primary;
}

/* Change inactive & active dot color */
.ant-carousel .slick-dots li button,
.ant-carousel .slick-dots li.slick-active button {
  @apply bg-primary! w-1;
}

.outlined-text {
  font-size: 150px;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 0.4px white;
  user-select: none;
}

.ant-input-search-button {
  background-color: #bc1b2f !important;
  border: none !important;
  color: white;
}

/* Optional: Add hover effect */
.custom-search .ant-input-search-button:hover {
  background-color: #b32f3e !important;
}
.custom-search .ant-input-outlined:focus-within,
.ant-input-outlined:hover {
  border-color: #c03434 !important;
  box-shadow: none;
}

/* Customize the slider */
.ant-slider .ant-slider-rail {
  height: 10px !important;
  background-color: #d9d9d9 !important;
  border-radius: 5px;
}

.ant-slider .ant-slider-track {
  height: 10px !important;
  background-color: #b32f3e !important;
  border-radius: 5px;
}

/* Customize the handle (circle knob) */
.ant-slider .ant-slider-handle {
  width: 20px !important;
  height: 20px !important;
  margin-top: -3px !important;
  background-color: white !important;
  border: 2px solid #b32f3e !important;
  transition: box-shadow 0.3s ease;
  border-radius: 100%;
}

.ant-slider-handle::after {
  display: none;
}
